[submodule "config-server"]
	path = config-server
	url = git@github.com:profemzy/config-server
[submodule "discoveryservice"]
	path = discoveryservice
	url = git@github.com:profemzy/discoveryservice
[submodule "zuulapigateway"]
	path = zuulapigateway
	url = git@github.com:profemzy/zuulapigateway
[submodule "users-ws"]
	path = users-ws
	url = git@github.com:profemzy/users-ws
[submodule "photoappapialbums"]
	path = photoappapialbums
	url = git@github.com:profemzy/photoappapialbums
